<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:replace="~{include/title.html::title}"></title>
<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/common/header_nav_footer.css}">
<link rel="stylesheet" th:href="@{/css/member/login.css}">

<script th:src="@{/js/admin_account_form.js}"></script>
</head>
<body>

    <header th:replace="~{/include/header_nav_footer.html::header}"></header>
    
    <nav th:replace="~{/admin/include/header_nav_footer.html::nav}"></nav>


    <section>
    	<div id="section_wrap">
    		<h3>관리자 로그인</h3><br>
    	
        <div>
        	<form 	th:action="@{/admin/admin_login_confirm}" 
        			name="admin_login_form" 
        			method="post">
        		<input type="text" id="adminname" name="a_m_id" placeholder="ID"><br>
				<input type="password" name="a_m_pw" placeholder="비밀번호"><br>

				<input type="button" value="로그인" onclick="adminLoginForm();">
			</form>
				<br>
				<p>
	              	<a href="javascript:void(0)" onclick="findid()">아이디</a>
	              	<a href="javascript:void(0)" onclick="findpw()">비밀번호</a>
	              	<button onclick="location.href='/admin/create_account_form'">회원가입</button>
				</p>
        	
        </div>
        
        <script type="text/javascript">
        function findid() {
            var url = "/admin/find_id_form";
            window.open(url, "_blank1", "toolbar=no, menubar=no, scrollbars=yes, resizable=no, width=500, height=500");
        }

        function findpw() {
            var url = "/admin/find_password_form";
            window.open(url, "_blank1", "toolbar=no, menubar=no, scrollbars=yes, resizable=no, width=500, height=500");
        }
		</script>

	   </div>
    </section>
    
    <footer th:replace="~{/include/header_nav_footer.html::footer}"></footer>

</body>
</html>