<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                   
<mapper namespace="com.office.seoul.facility.member.IMemberDao">

	<select id="isMember" 
			parameterType="String" 
			resultType="Boolean">
	
		SELECT COUNT(*) FROM 
			TBL_USER_MEMBER 
		WHERE 
			U_M_ID = #{u_m_id}
			
	</select>
	
	<insert id="insertMember" 
			parameterType="com.office.seoul.facility.member.MemberDto">
	
		INSERT INTO 
			TBL_USER_MEMBER(U_M_ID, U_M_PW, U_M_NAME, U_M_GENDER, U_M_MAIL, U_M_PHONE) 
		VALUES(#{u_m_id}, #{u_m_pw}, #{u_m_name}, #{u_m_gender}, #{u_m_mail}, #{u_m_phone})
	
	</insert>
	
	<select id="selectMemberByMId"
			parameterType="String"
			resultType="com.office.seoul.facility.member.MemberDto">
	
		SELECT * FROM 
			TBL_USER_MEMBER 
		WHERE 
			U_M_ID = #{u_m_id}
	
	</select>
	
	<select id="getLoginedMemberByUmId"
			parameterType="String"
			resultType="com.office.seoul.facility.member.MemberDto">
	
		SELECT * FROM 
			TBL_USER_MEMBER 
		WHERE 
			U_M_ID = #{u_m_id}
	
	</select>
	
	<update id="updateMemberModify"
			parameterType="com.office.seoul.facility.member.MemberDto">
	
		UPDATE 
			TBL_USER_MEMBER 
		SET 
			U_M_PW = #{u_m_pw}, U_M_NAME = #{u_m_name}, 
			U_M_GENDER = #{u_m_gender}, U_M_MAIL = #{u_m_mail}, 
			U_M_PHONE = #{u_m_phone}, U_M_MOD_DATE = NOW() 
		WHERE 
			U_M_NO = #{u_m_no}
	
	</update>
	
	<delete id="deleteMemberByMId"
			parameterType="com.office.seoul.facility.member.MemberDto">
	
		DELETE FROM 
			TBL_USER_MEMBER 
		WHERE 
			U_M_ID = #{u_m_id}
	
	</delete>
	
	<select id="selectForFindId" 
			parameterType="map" 
			resultType="com.office.seoul.facility.member.MemberDto">
	
		SELECT 
			U_M_ID 
		FROM 
			TBL_USER_MEMBER 
		WHERE 
			U_M_NAME = #{u_m_name} AND U_M_MAIL = #{u_m_mail}
	
	</select>

	<select id="selectForFindPassword" 
			parameterType="map" 
			resultType="com.office.seoul.facility.member.MemberDto">
	
		SELECT * FROM 
			TBL_USER_MEMBER 
		WHERE 
			U_M_ID = #{u_m_id} AND U_M_NAME = #{u_m_name} 
			AND U_M_MAIL = #{u_m_mail}
	
	</select>
	
	<update id="updatePassword" 
			parameterType="map">
	
		UPDATE
			TBL_USER_MEMBER 
		SET 
			U_M_PW = #{encodedPassword}, U_M_MOD_DATE = NOW() 
		WHERE 
			U_M_ID = #{u_m_id}
	
	</update>

</mapper>