<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script th:src="@{/js/find_idpw_form.js}"></script>

</head>
<body>
    <section>
   		<div>
			<h3>아이디 찾기</h3>
            <p>(입력된 정보로 아이디가 조회됩니다.)</p>
		</div>
		<div>
			<form 	th:action="@{/member/find_id_confirm}" 
					name="find_id_form" 
					method="post">
				
				<input type="text" name="u_m_name" placeholder="이름"> <br>
				<input type="text" name="u_m_mail" placeholder="메일 주소"> <br>
				<input type="button" value="아이디 찾기" onclick="findId();">
				
			</form>
		</div>
		
		<div class="create_account_login">
			<a href="<c:url value='/admin/member/createAccountForm'/>">create account</a>
			<a href="<c:url value='/admin/member/loginForm'/>">login</a>
		</div>
    </section>
</body>
</html>