<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script th:src="@{/js/find_idpw_form.js}"></script>

</head>
<body>
    <section>
   		<div>
			<h3>비밀번호 찾기</h3>
			<p>(입력된 정보로 임시 비밀번호가 전송됩니다.)</p>
		</div>
		<div>
			<form 	th:action="@{/member/find_password_confirm}" 
					name="find_password_form" 
					method="post">
				
				<input type="text" name="u_m_id" placeholder="아이디"> <br>
				<input type="text" name="u_m_name" placeholder="이름"> <br>
				<input type="text" name="u_m_mail" placeholder="메일 주소"> <br>
				<input type="button" value="비밀번호 찾기" onclick="findPassword();">
				<input type="reset" value="초기화">
				
			</form>
		</div>
		
		<div class="create_account_login">
			<a href="<c:url value='/admin/member/createAccountForm'/>">create account</a>
			<a href="<c:url value='/admin/member/loginForm'/>">login</a>
		</div>
    </section>
</body>
</html>