<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:replace="~{include/title.html::title}"></title>
<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/common/header_nav_footer.css}">
<link rel="stylesheet" th:href="@{/css/member/member_modify.css}">

<script th:src="@{/js/member_modify_form.js}"></script>
</head>
<body>

    <header th:replace="~{/include/header_nav_footer.html::header}"></header>
    
    <nav th:replace="~{/include/header_nav_footer.html::nav}"></nav>
    
    <article th:replace="~{/include/header_nav_footer.html::article}">
	</article>

    <section>
    	<div id="section_wrap">
    		<h3>정보 수정</h3>
    	
	        <div>
	        	<form th:action="@{/member/member_modify_confirm}" 
	        			name="member_modify_form" 
	        			method="post">
	        		
	        		<input type="hidden" name="u_m_no" th:value="${loginedMemberDto.u_m_no}">
	        		<input type="hidden" name="u_m_gender" th:value="${loginedMemberDto.u_m_gender}">
	        			
	        		<input type="text" name="u_m_id" th:value="${loginedMemberDto.u_m_id}" readonly><br>
					<input type="password" name="u_m_pw" th:value="${loginedMemberDto.u_m_pw}" placeholder="비밀번호"><br>
	        		<input type="text" name="u_m_name" th:value="${loginedMemberDto.u_m_name}" placeholder="이름"><br>
	        		<select name="u_m_gender" disabled>
	        			<option value="">성별</option>
						<option value="M" th:selected="${loginedMemberDto.u_m_gender == 'M'}">남성</option>
	        			<option value="W" th:selected="${loginedMemberDto.u_m_gender == 'W'}">여성</option>
	        		</select><br>
					<input type="email" name="u_m_mail" th:value="${loginedMemberDto.u_m_mail}" placeholder="이메일"><br>
					<input type="text" name="u_m_phone" th:value="${loginedMemberDto.u_m_phone}" placeholder="휴대폰 번호"><br>
					<input type="reset" value="초기화">
					<input type="button" value="정보수정" onclick="MemberModifyForm();">
	        	</form>
	        </div>
			
			
			<div>
				<a th:href="@{/member/member_delete_confirm}">회원탈퇴</a>
			</div>
		</div>
    </section>
    
    <section>
    	<div id="section_wrap">
    		<h2>회원 정보 수정</h2>
			<p>회원님의 예약 정보는 다음과 같습니다:</p>
			
			<table>
			    <thead>
			        <tr>
			            <th>예약자 이름</th>
			            <th>시설 이름</th>
			            <th>예약 날짜</th>
			            <th>예약 상태</th>
			            <th>전화번호</th>
			            <th>예약 시간</th>
			            <th>취소</th>
			        </tr>
			    </thead>
			    <tbody>
	                <tr th:each="reservation : ${reservations}">
                        <td th:text="${reservation.u_m_id}">예약자 이름</td>
                        <td th:text="${reservation.SVCID}">시설 이름</td>
                        <td th:text="${reservation.r_reserve_date}">예약 날짜</td>
                        <td th:text="${reservation.r_use_state}">예약 상태</td>
                        <!-- <td th:text="#">전화번호</td> -->
                        <td th:text="${reservation.r_use_time}">예약 시간</td>
                        <td>
                            <!-- <form th:action="" method="post">
                                <input type="hidden" name="r_no" th:value="${reservation.r_no}" />
                                <button type="submit">예약 취소</button>
                            </form> -->
                        </td>
                    </tr>
			    </tbody>
			</table>
    	</div>
    </section>
    
    <footer th:replace="~{/include/header_nav_footer.html::footer}"></footer>

</body>
</html>