<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:replace="~{/include/title.html::title}"></title>
<link rel="stylesheet" th:href="@{/css/facility/detail.css}">
<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/common/header_nav_footer.css}">
<script th:replace="~{/include/common_js.html::jquery_cdn}"></script>
<script th:replace="~{/include/pagination_js.html::js}"></script>
</head>
<body>
    <header th:replace="~{/include/header_nav_footer.html::header}"></header>
    
    <nav th:replace="~{/include/header_nav_footer.html::nav}"></nav>
    <article th:replace="~{/include/header_nav_footer.html::article}"></article>


	<section> 
      <div id="section_wrap">
        <div class="detail_title"> <h2 th:text="${facilityDto.SVCNM}"></h2> 
        	<span class="status1"  th:if="${facilityDto.SVCSTATNM eq '접수중'}" th:text="${facilityDto.SVCSTATNM}"></span>
       		<span class="status2" th:unless ="${facilityDto.SVCSTATNM eq '접수중'}"  th:text="${facilityDto.SVCSTATNM}"></span>
    
          
        </div> 
       <ul>
        <li class="left_box">
            <div class="thumb">
                <img th:src="${facilityDto.IMGURL}" alt="시설 이미지">
            </div>
            <div class="calendar">
				<h3>2024년 9월</h3>
                <table>
                      
                    <thead>
                       <tr class="day">
                            <th>월요일</th>
                            <th>화요일</th>
                            <th>수요일</th>
                            <th>목요일</th>
                            <th>금요일</th>
                            <th>토요일</th>
                            <th>일요일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1일</td>
                            <td>2일</td>
                            <td>3일</td>
                            <td>4일</td>
                            <td>5일</td>
                            <td>6일</td>
                            <td>7일</td>
                         </tr>
                         <tr>
                            <td>8일</td>
                            <td>9일</td>
                            <td>10일</td>
                            <td>11일</td>
                            <td>12일</td>
                            <td>13일</td>
                            <td>14일</td>
                        </tr>
                        <tr>
                            <td>15일</td>
                            <td>16일</td>
                            <td>17일</td>
                            <td>18일</td>
                            <td>19일</td>
                            <td>20일</td>
                            <td>21일</td>
                        </tr>          
                        <tr>          
                            <td>22일</td>
                            <td>23일</td>
                            <td>24일</td>
                            <td>25일</td>
                            <td>26일</td>
                            <td>27일</td>
                            <td>28일</td>
                        </tr> 
                        <tr>         
                            <td>29일</td>
                            <td>30일</td>
                            <td>31일</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>

                </table>

            </div>

        </li>
        <li class="right_box">
           <ul>
            <li><b>대&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 상 </b> : <span th:text="${facilityDto.USETGTINFO}"></span></li>
            <li><b>장&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 소 </b> : 
            	<span class="line2" th:if="${facilityDto.SVCNM.length >= 32}" th:text="${facilityDto.SVCNM}" />
            	<span class="line1"  th:unless="${facilityDto.SVCNM.length >= 32}" th:text="${facilityDto.SVCNM}" />
            
          	</li>

            <li><b>이용기간 </b> : <span th:text="${facilityDto.SVCOPNBGNDT}"></span></li>
            <li><b>접수기간 </b> : <span th:text="${facilityDto.RCPTBGNDT}"></span> </li>
            <li><b>선별방법 </b> : <span>선착순</span></li>
            <li><b>이용요금 </b> : <span th:text="${facilityDto.PAYATNM}"></span> </li>
            <li><b>접수상태 </b> : <span th:text="${facilityDto.SVCSTATNM}"></span> </li>
            <li><b>취소기간 </b> : 
            	<span th:if="${facilityDto.REVSTDDAY eq '0'}" th:text="|${facilityDto.REVSTDDAYNM} 까지|"></span>
            	<span th:unless="${facilityDto.REVSTDDAY eq '0'}" th:text="|${facilityDto.REVSTDDAYNM} ${facilityDto.REVSTDDAY}일 전까지|"></span>
      
            </li>
            <li><b>예약방법 </b> : <span>인터넷</span></li>
            <li><b>문의전화 </b> : 
            <span class="line2" th:if="${facilityDto.TELNO.length >= 33}" th:text="${facilityDto.TELNO}" />
            <span class="line1"  th:unless="${facilityDto.TELNO.length >= 33}" th:text="${facilityDto.TELNO}" />
           </ul>
            <button class="reservation_apply">예약하기</button>
        </li>



       </ul> 




      </div>
	</section>





    <footer th:replace="~{/include/header_nav_footer.html::footer}"></footer>
</body>
</html>
