<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:replace="~{/include/title.html::title}"></title>
<link rel="stylesheet" th:href="@{/css/facility/detail.css}">
</head>
<body>
    <header th:replace="~{/include/header_nav_footer.html::header}"></header>
    
    <nav th:replace="~{/include/header_nav_footer.html::nav}"></nav>

    <section>
        <h3>시설 상세 정보</h3>

        <!-- 시설 이미지 -->
        <div class="facility-image-container">
            <img th:src="@{${facility.imgurl}}" alt="Facility Image" class="facility-image">
        </div>

        <!-- 시설 정보 -->
        <div class="facility-info">
            <h4 th:text="${facility.svcnm}">시설명</h4>
            <p th:text="${facility.dtlcont}">상세정보</p>
            <p><strong>연락처:</strong> <span th:text="${facility.telno}">연락처</span></p>
        </div>
    </section>

    <footer th:replace="~{/include/header_nav_footer.html::footer}"></footer>

</body>
</html>
