<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:replace="~{include/title.html::title}"></title>
<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/common/header_nav_footer.css}">
<link rel="stylesheet" th:href="@{/css/member/login.css}">

<script th:src="@{/js/member_login_form.js}"></script>
</head>
<body>

    <header th:replace="~{/include/header_nav_footer.html::header}"></header>
    
    <nav th:replace="~{/include/header_nav_footer.html::nav}"></nav>
	<article th:replace="~{/include/header_nav_footer.html::article}">
	</article>

    <section>
    	<div id="section_wrap">
    		<h3>웹 페이지를 찾을수 없습니다.</h3>
    		<br>
		</div>
    </section>
    
    <footer th:replace="~{/include/header_nav_footer.html::footer}"></footer>

</body>
</html>