/* NAV CSS  */
nav {
	width: 100%;
	padding: 10px 0;
	background-color: rgb(0, 96, 202);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav #nav_wrap {
	width: 1200px;
	height: 50px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	line-height: 50px;
	color: #fff;
}

nav #nav_wrap .logo {
	flex: 1;
}

nav #nav_wrap .navigation {
	flex: 2;
	text-align: right;
}

nav #nav_wrap .logo img {
	width: 230px;
}

nav #nav_wrap ul {
	padding: 0;
	margin: 0;
	display: flex;
}

nav #nav_wrap ul li {
	margin: 0 10px;
	font-size: 1.1em;
}

nav #nav_wrap ul li a {
	color: #fff;
	text-decoration: none;
}

nav #nav_wrap ul li a:hover {
	color: #ffd700; 
}

/* ARTICLE CSS  */
article {
	width: 100%;
	height: 200px;
	background-color: #f1f1f1;
	display: flex;
    justify-content: center;
    align-items: center;
	
}

article #article_wrap {
	width: 1200px;
}

article #article_wrap div ul {
	display: flex;
	justify-content: space-evenly;
	
}

article div ul li {
	margin: 10px;
}

article div ul li a {
	display: block;
	width: 130px;
	height: 40px;
	background-color: #fff;
	color: #343a40;
	line-height: 40px;
	font-weight: bold;
	padding: 5px;
	border: 1px solid #bebebe;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	color: #000;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

article div ul li a:hover {
	background-color: #378bee;
	transform: scale(1.1);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* 호버 시 그림자 확대 */
	color: #fff;
	transition: 0.3s;
}

/* FOOTER CSS  */
footer {
	width: 100%;
	padding: 10px 0;
	background-color: #363636;
	bottom: 0;
}

footer #footer_wrap {
	width: 1500px;
	height: 100px;
	line-height: 100px;
	color: #fafafa;
	margin: 0 auto;
	text-align: center;
	font-size: 0.9em;
}
